body {
    padding: 0;
    margin: 0;
    overflow: auto;
    background-color: black;
}

.container {
    background-color: white;
    width: 600px;
    height: 600px;
    margin-left: 350px;
    border: 10px double black;
    position: relative;
}

.ball {
    width: 100px;
    position: absolute;
    animation: Jump 3s linear infinite alternate, Travel 3s linear infinite alternate;
}

@keyframes Travel {
    from {
        left: 0;
    }
    to {
        left: 500px;
    }
}

@keyframes Jump {
    from {
        top: 0vh;
        animation-timing-function: ease-in;
    }
    35% {
        top: 80vh;
        transform: scaleY(1.3);
        animation-timing-function: ease-out;
    }
    65% {
        top: 10vh;
        transform: scaleY(1);
        animation-timing-function: ease-in;
    }
    to {
        top: 80vh;
        transform: scaleY(1.3);
        animation-timing-function: ease-out;
    }
}